%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/chat.png'}
  %hgroup
    %h2
      Preamble to the ramble
  %article
    %p
      %b Lots to talk about
      %ul
        %li Want to talk about more than basics
        %li DSL features shown quickly
        %li Lets see cool stuff
    %p
      %b Tools
      %ul
        %li SparkleFormation - DSL library
        %li sfn - SparkleFormation CLI
        %li miasma - Cloud model library
