%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/fry.png'}
  %hgroup
    %pre.prettyprint{'data-lang' => ''}
      :preserve
        > whoami
  %article
    %p Chris Roberts
    %ul
      %li Work at Heavy Water
      %li Developer / Toolsmith
      %li Pragmatic Open Source Zealot
      %li Tirelessly Striving to be Lazy
      %li Not Really a Believer of Magic
