%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/rocket.png'}
  %hgroup
    %pre.prettyprint{'data-lang' => 'shell'}
      :preserve
        > infrastructure-as-code --help
  %article
    %ul
      %li Orchestration API
      %ul
        %li AWS CloudFormation
        %li Eucalyptus CloudFormation
        %li OpenStack Heat
        %li Rackspace Orchestration
        %li Google Cloud Deployment
      %li Templates
