%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/stack.png'}
  %hgroup
    %pre.prettyprint{'data-lang' => 'shell'}
      :preserve
        > sparkle_formation --composition
  %article
    %ul
      %li Orchestration API
      %ul
        %li AWS CloudFormation
        %li MS Azure Resource Manager
        %li Eucalyptus CloudFormation
        %li Google Cloud Deployment
        %li OpenStack Heat
        %li Rackspace Orchestration
      %li Orchestration Templates
