%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/profile.png'}
  %hgroup
    %h2
      %code `whoami`
  %article
    %ul
      %li Chris Roberts
      %li Engineer at HeavyWater Operations
      %li Toolsmith
