%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/fry.png'}
  %hgroup
    %h2
      %code `whoami`
  %article
    %p Chris Roberts
    %ul
      %li Toolsmith
      %li Data type evangelist (Hash == 42)
      %li Engineer at Heavy Water Operations
