%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/tools.png'}
  %hgroup
    %pre.prettyprint{'data-lang' => 'shell'}
      :preserve
        > sparkle_formation --related
  %article
    %p Other popular solutions
    %ul
      %li Troposphere
      %li Terraform
      %li Docker
      %li Docker
      %li This new docker thing
