%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/rocket.png'}
  %hgroup
    %pre.prettyprint{'data-lang' => 'shell'}
      :preserve
        > infrastructure-as-code --help
  %article
    %p Other popular solutions
    %ul
      %li Terraform
      %li Docker
      %li Docker
      %li Docker
      %li Docker
      %li This new docker thing
