%slide{:class => 'segue dark quote nobackground'}
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/caution.png'}
  %article{:class => 'flexbox vleft auto-fadein'}
    %q Unicorns," I said. "Very dangerous. You go first.
    %div.author Jim Butcher, Summer Knight
