%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/profile.png'}
  %hgroup
    %h2
      %code `whoami`
  %article
    %p Michael Weinberg
    %ul
      %li Planner
      %li Decision Making Wonk
      %li Director of Operations at Heavy Water Operations
