%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/profile.png'}
  %hgroup
    %h2
      %code `whoami`
  %article
    %ul
      %li Michael F. Weinberg
      %li Director of Operations at Heavy Water Operations
      %li Control Rod
