%slide
  %aside.gdbar.right
    %img{:src => 'images/compose.png'}
  %hgroup
    %h2 Searching for Unicorns
  %article
    %p What is a "unicorn"
    %ul.build
      %li Goat like animal
      %li Horse like animal
      %li Has a goat like beard
      %li Is winged
