%slide
  %aside.gdbar.right
    %img{:src => 'images/hourglass.png'}
  %hgroup
    %h2 SparkleFormation History
  %article
    %ul
      %li AttributeStruct Library
      %li Parse and serialize Chef resource
      %li Support unlimited "sub-resources"
      %li DSL for describing data
