%slide{:class => 'segue dark quote nobackground'}
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/hourglass.png'}
  %article{:class => 'flexbox vleft auto-fadein'}
    %q You realize that our mistrust of the future makes it hard to give up the past.
    %div.author Chuck Palahniuk, Survivor
