%slide
  %hgroup
    %h2 "Infrastructure as Code" Unicorn
  %article
    %p What is Infrastructure as Code
    %ul
      %li No correct answer
      %li Many correct answers
      %li Lots of people searching for different things
      %ul.build
        %li Multiple classifications
        %li All paths lead forward
    %ul.build
      %li My unicorn
