%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/settings.png'}
  %hgroup
    %h2 Managing infrastructure
  %article
    %p How do we currently manage infrastructure?
    %ul
      %li Web UI tooling
      %li CLI tooling
      %li Custom scripts
      %li.red Lots of snowflaked resources
