%slide
  %aside{:class => 'gdbar top right', :style => 'background: #cc6'}
    %img{:src => 'images/clock.png'}
  %hgroup
    %h2 Managing infrastructure
  %article
    %p How do we currently manage infrastructure?
    %ul
      %li Web UI tooling
      %li CLI tooling
      %li Custom scripts
      %li.red Lots of snowflaked resources
