%slide
  %aside.gdbar.right
    %img{:src => 'images/rainbow.png'}
  %hgroup
    %h2 SparkleFormation Origin
  %article
    %ul
      %li Available tools too restrictive
      %ul
        %li Explicit resource implementations
        %li Difficult to customize
      %li Straight CFN == Too much JSON
      %li DRY JSON?
      %li
        %strike YAML!
      %li Rainbows and unicorns
