%slide
  %hgroup
    %h2 Reproducible Infrastructure
  %article
    %div.columns-2
      %p Infrastructure should be:
      %ul
        %li Reproducible
        %li Updatable
        %li Consistent
        %li Trackable
      %br
      %p CloudFormation:
      %ul.build
        %li Descriptive (JSON)
        %ul
          %li Reproducible
          %li Updatable
          %li Consistent
          %li Trackable
