%slide
  %hgroup
    %h2
      Reproducible Infrastructure
  %article
    %h3 Infrastructure resources
    %ul
      %li Reproducible
      %li Updateable
      %li Consistent
      %li Trackable
    %h3 Tools
    %ul
      %li CloudFormation
