%slide
  %hgroup
    %h2
      Real world example
  %article
    %ul
      %li Based on single template
      %li New stack initiated via copy/paste
      %li Multiple manipulated copies
      %li Malformed JSON
      %li Linear growth on change points
      %li Applying fixes within difficult to impossible
