%slide
  %hgroup
    %h2
      Simple example
  %article
    %ul
      %li Based on single template
      %li Multiple manipulated copies
      %li Malformed JSON
      %li Linear growth on change points
