%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/ruby.png'}
  %hgroup
    %h2
      YARJ
  %article
    %p Yet Another Rails Job
    %ul.build
      %li Really like Ruby
      %li No operations team
      %li Environment evolved
      %li Don't touch anything
      %li Search and pray
      %li Any problem == panic
