%slide
  %aside.gdbar.bottom.right
    %img.build-hide{:src => 'images/hellyeah.jpg'}
  %hgroup
    %h2
      Introduction to Automation
  %article
    %p Detangling the rat's nest
    %ul.build
      %li Complete overhaul using Chef
      %li Extracting setup knowledge to code
      %li Predictable reproducibility
      %li Easy additions/replacements
      %li No golden images
      %li.build-show.green
        %b
          %u Amazing
