%slide
  %hgroup
    %h2
      DSL Features - notation
  %article
    %p Dot notation
    %pre.prettyprint{'data-lang' => 'ruby'}
      :preserve
        SparkleFormation.new(:example) do
          resources.my_ec2_instance.properties.image_id 'ami-21212'
        end
    %p Block notation
    %pre.prettyprint{'data-lang' => 'ruby'}
      :preserve
        SparkleFormation.new(:example) do
          resources do
            my_ec2_instance do
              properties do
                image_id 'ami-21212'
              end
            end
          end
        end
