%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/typing.png'}
  %hgroup
    %h2 OMG I'm Infrastructure as Coding!
  %article
    %p Found my way to greener grass.
    %ul
      %li Digging into chef code base
      %li Started submitting PRs for new features
      %ul
        %li Dynamic runlist modifications
        %li Process forking
        %li Lazy attributes
      %li Writing cookbooks for all the things
      %ul
        %b This is the future people!
