%slide
  %hgroup
    %h2
      DSL Features - Invalid syntax / Composite keys
  %article
    %pre.prettyprint{'data-lang' => 'ruby'}
      :preserve
        SparkleFormation.new do
          prefix = '00'
          parameters('01_creator') do
            type 'String'
          end
          parameters("\#{prefix}_info") do
            type 'String'
          end
        end
    %pre.prettyprint{'data-lang' => 'ruby'}
      :preserve
        SparkleFormation.new do
          prefix = '00'
          parameters.set!('01_creator').type 'String'
          parameters.set!("\#{prefix}_info").type 'String'
        end
