%slide{:class => 'segue dark quote nobackground'}
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/caution.png'}
  %article{:class => 'flexbox vleft auto-fadein'}
    %q If the road is easy, you're likely going the wrong way.
    %div.author Terry Goodkind
