%slide{:class => 'segue dark quote nobackground'}
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/caution.png'}
  %article{:class => 'flexbox vleft auto-fadein'}
    %q Copy and paste is a design error.
    %div.author David Parnas
