%slide
  %hgroup
    %h2
      DSL Features - Arrays
  %article
    %pre.prettyprint{'data-lang' => 'ruby'}
      :preserve
        SparkleFormation.new(:example) do
          resources.my_ec2_instance.properties do
            # With DSL support via Proc
            tags array!(
              ->{
                name 'Creator'
                value ref!(:stack_creator)
              }
            )
            # Without DSL support
            tags [{'Name' => 'Creator', 'Value' => ref!(:stack_creator)}]
          end
        end
