%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/hellyeah.jpg'}
  %hgroup
    %h2
      YARJ
  %article
    %p Yet Another Rails Job
    %ul
      %ul
        %li Really liked Ruby
        %li No operations team
        %li
        %li Better or worse, Rails pays the bills
        %li No operations team
        %li Search and pray
      %ul.build
        %li Infra overhaul adding Chef
        %li Predictable reproducibility
        %li Easy additions/replacements
        %li No golden images
        %li Amazing
