%slide
  %hgroup
    %h2
      SparkleFormation
  %article
    %p A framework built around simple concepts
    %ul
      %li Shared (components)
      %li Reusable (dynamics)
      %li Common (registry)
      %li Templates (templates)
