%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/rainbow.png'}
  %hgroup
    %h2
      SparkleFormation
  %article
    %p A framework built around reusability
    %ul
      %li Shared (components)
      %li Reusable (dynamics)
      %li Common (registry)
      %li Templates (final product)
