%slide
  %hgroup
    %h2
      DSL Features - Camels
  %article
    %pre.prettyprint{'data-lang' => 'ruby'}
      :preserve
        SparkleFormation.new do
          mappings do
            amis do
              set!('us-east-1'.disable_camel!, 'ami-888888')
              set!('us-west-2'.disable_camel!, 'ami-111111')
            end
            camel_keys_set!(:auto_disable)
            environments do
              production 'IS_PROD'
              development 'IS_DEV'
            end
          end
        end
