%slide
  %hgroup
    %h2 Simple SparkleFormation template
  %article.smaller
    %pre.prettyprint{'data-lang' => 'ruby', :class => 'auto-scroll'}
      :preserve
        SparkleFormation.new(:example) do
        end
