%slide
  %hgroup
    %h2 OMG I'm Infrastructure as Coding!
  %article
    %p Greener grass and rails free!
    %ul
      %li Digging into chef code base
      %li Started submitting PRs for new features
      %ul
        %li Dynamic runlist modifications
        %li Process forking
        %li Lazy attributes
      %li Writing cookbooks for all the things
      %li Automation happy dance
