%slide
  %hgroup
    %h2
      DSL Features - Deletion
  %article
    %pre.prettyprint{'data-lang' => 'ruby'}
      :preserve
        SparkleFormation.new(:example) do
          parameters do
            stack_creator.type 'String'
            instance_size.type 'String'
          end

          ...

          parameters.delete!(:stack_creator)
