%slide
  %hgroup
    %h2
      Not Really Infrastructure as Code
  %article
    %p
      I was told this was infrastructure as code!
      %ul.build
        %ul
          %li
            %b Infrastructure as Code
          %ul
            %li Term was used too loosely
            %li Devops usurped
        %ul
          %li
            %b Configuration as code
          %ul
            %li Nodes were faster (create/replace)
            %li Configuration knowledge in code
        %ul
          %li
            %b Kicking the can
          %ul
            %li Still snowflaking resources
            %li Still locked knowledge
