%slide
  %hgroup
    %h2
      SparkleFormation Components
  %article.smaller
    %p Only used once within a template
    %ul
      %li Common parameters/outputs
    %p
      %pre.prettyprint{'data-lang' => 'ruby'}
        :preserve
          SparkleFormation.build do

            set!('AWSTemplateFormatVersion', '2010-09-09')
            description 'Default Fission Stack Description'

            parameters.creator do
              default ENV.fetch('KNIFE_USER', ENV.fetch('USER', 'unknown'))
              description 'Creator of stack'
              type 'String'
              disable_apply true
            end

          end
