%slide
  %hgroup
    %h2
      DSL Features - Raw Data
  %article
    %pre.prettyprint{'data-lang' => 'ruby'}
      :preserve
        SparkleFormation.new(:example) do
          parameters do
            stack_creator.type 'String'
            instance_size.type 'String'
          end

          ...

          # Hash values at context
          parameters.data!.keys.each do |key|
            outputs.set!(key).value ref!(key)
          end

          # Key values at context
          parameters.keys!.each do |key|
            outputs.set!(key).value ref!(key)
          end
