%slide{:class => 'segue dark quote nobackground'}
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/caution.png'}
  %article{:class => 'flexbox vleft auto-fadein'}
    %q ... a true creator is necessity, which is the mother of our invention.
    %div.author Plato, The Republic
