%slide
  %hgroup
    %h2
      SparkleFormation dynamics
  %article.smaller
    %p Used multiple times within a template
    %ul
      %li Common resources
    %p
      %pre.prettyprint{'data-lang' => 'ruby'}
        :preserve
          SparkleFormation.dynamic(:ec2_instance) do |_name, _config|

            parameters do
              instance_type do
              end
              instance_ami
            end

          end
