%slide
  %aside{:class => 'gdbar top right'}
    %img{:src => 'images/tools.png'}
  %hgroup
    %h2 SparkleFormation Improvements
  %article
    %p What did we gain from this conversion?
    %ul
      %li Better readability
      %li Less typing
      %ul
        %li JSON template: 164 lines
        %li SFN template: 136 lines
        %li SFN template w/o newlines: 121 lines
    %br
    %p Still no reusability
