%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/spiceweasel.png'}
  %hgroup
    %h2
      Spiceweasel: More Than Seasoning
  %article
    %p Using Matt Ray's Spiceweasel tool for building clusters
    %ul
      %li Could mostly build clusters
      %ul
        %li Serialized configuration meant copies
        %li Needed more command support
      %li Added required command and config support
      %li Successful clusters with single command*
