%slide
  %hgroup
    %h2
      DSL Features - Hierarchy Helpers
  %article
    %pre.prettyprint{'data-lang' => 'ruby'}
      :preserve
        SparkleFormation.new do
          parameters.key_name.type 'String'
          resources.my_instance do
            type 'AWS::EC2::Instance'
            properties do
              key_name ref!(:key_name)
              tags array!(
                ->{
                  name 'KeyName'
                  # Parent from current context
                  value parent!.key_name
                  # Template root
                  value root!.resources.my_instance.properties.key_name
                }
              )
            end
          end
