%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/recycle.png'}
  %hgroup
    %h2 Reusability &lt;Components&gt;
  %article
    %p Components are:
    %ul
      %li Common among templates
      %li Single use within template
      %li Examples:
      %ul
        %li Common parameters/outputs
        %li Stack global resources (IAM User)
