%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/recycle.png'}
  %hgroup
    %h2 Need Drives Creation
  %article
    %p Building collections of instances one at a time is boring
    %ul
      %li Slow and tedious
      %li Testing required fresh builds
      %li Development required existing builds
      %li Wasting time waiting
