%slide
  %aside{:class => 'gdbar top right'}
    %img{:src => 'images/sparkle-logo.png'}
  %hgroup
    %h2 SparkleFormation Library
  %article
    %ul
      %li Built on AttributeStruct
      %li Provides a reusability framework
      %ul
        %li Components (single use)
        %li Dynamics (multiple use)
        %li Registry (data use)
