%slide
  %hgroup
    %h2
      Template Breakdown - Finding patterns
  %article
    %pre.prettyprint{'data-lang' => 'ruby'}
      :preserve
        SparkleFormation.new do
          AWSTemplateFormatVersion '2010-09-09'
          description 'My SparkleFormation Stack'
          parameters do
            stack_creator.type 'String'
            key_name.type 'String'
            ami_id.type 'String'
          end
          dynamic!(:ec2_instance, :my) do
            properties do
              image_id ref!(:ami_id)
              key_name ref!(:key_name)
              instance_type 'm1.small'
            end
          end
          outputs.my_instance_address.value attr!(:my_ec2_instance, :public_ip)
        end
