%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/rocket.png'}
  %hgroup
    %h2
      The `If` Too Big
  %article
    %p
      Functional and solved the immediate problem. Some
      gripes persisted:
    %ul
      %li Heavy SSH usage
      %li DRY but lots of shell
      %li Walking access point
    %p Straw that broke the camel's back:
    %ul.build
      %li.red
        %b Intermittent network failures
