%slide
  %aside{:class => 'gdbar top right'}
    %img{:src => 'images/recycle.png'}
  %hgroup
    %h2 Reusability &lt;Dynamics&gt;
  %article
    %p Dynamics are:
    %ul
      %li Common among templates
      %li Multiple use within single template
      %li Examples:
      %ul
        %li Common resources (EC2::Instance)
        %li Common parameters
        %li Modifying previously defined resources
