%slide
  %aside{:class => 'gdbar top right'}
    %img{:src => 'images/recycle.png'}
  %hgroup
    %h2 Reusability &lt;Registry&gt;
  %article
    %p Registries are:
    %ul
      %li Common among structures within templates
      %li Multiple use within single template
      %li Examples:
      %ul
        %li Common parameter allowed values (AMI)
        %li Common resource properties (UserData)
        %li Common resource configuration (Metadata)
