%slide
  %hgroup
    %h2
      Directory Structure
  %article
    %p SparkleFormation framework directory structure
    %br
    %br
    %pre.prettyprint{'data-lang' => 'shell'}
      :preserve
        .
        |____sparkleformation
        | |____tester.rb
        | |____dynamics
        | | |____node.rb
        | |____components
        | | |____base.rb
