%slide
  %aside{:class => 'gdbar top right'}
    %img{:src => 'images/recycle.png'}
  %hgroup
    %h2 Vagabond Origin
  %article
    %p Born from rage and frustration
    %ul.build
      %ul
        %li Handful of scripts + LXC
        %li DSL inspired from previous DRY
        %li Large local cluster builds fast and reliable
      %ul
        %li Seeing a pattern in description
        %li Implemented helpers for pattern
        %li Turtles all the way down
