%slide
  %article.smaller
    %p
      From the DSL:
      %pre.prettyprint.auto-scroll{'data-lang' => 'ruby', :style => 'height: 40%'}
        :preserve
          Configuration.new do
            defaults do
              template 'ubuntu_1404'
              attributes.creator ENV['USER']
            end
            nodes do
              database.run_list ['role[database]']
            end
          end
    %p
      Into primatives:
      %pre.prettyprint.auto-scroll{'data-lang' => 'ruby', :style => 'height: 40%'}
        :preserve
          {
            "nodes" => {
              "database" => {
                "template" => "ubuntu_1404",
                "run_list" => [
                  "role[database]"
                ],
                "attributes" => {
                  "creator" => "spox"
                }
              }
            }
          }
