%slide
  %hgroup
    %h2
      SparkleFormation Helper Methods
  %article
    %p Generating common data structures
    %br
    %br
    %pre.prettyprint{'data-lang' => 'ruby'}
      :preserve
        ref!(:stack_creator)
          # => {"Ref": "StackCreator"}
        attr!(:node, :public_ip)
          # => {"Fn::Att": ["Node", "PublicIp"]}
        stack_id!
          # => {"Ref": "AWS::StackId"}
        account_id!
          # => {"Ref": "AWS::AccountId"}
