%slide{:class => 'fill nobackground', :style => 'background-image: url(/images/hashes.jpg); background-repeat: norepeat; background-position: center; background-size: contain; background-color:#888;'}
