%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/stack.png'}
  %hgroup
    %h2 JSON Decomposition
  %article.smaller
    %p After decomposing the JSON template we have gained:
    %ul
      %li One component:
      %ul
        %li base.rb
      %li Two registry items:
      %ul
        %li metadata_nginx.rb
        %li user_data_nginx.rb
      %li Three dynamics:
      %ul
        %li ec2_node.rb
        %li instance_common.rb
        %li security_group.rb
    %br
    %p Now lets create the final template
