%slide{:class => 'segue dark quote nobackground'}
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/bomb.png'}
  %article{:class => 'flexbox vleft auto-fadein'}
    %q No one cares about Hashes
