%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/compose.png'}
  %hgroup
    %h2
      Template Compilation
  %article
    %p Compilation things
    %ul
      %li Top down compilation
      %li Components loaded first, in order
      %li Overrides applied last
      %li Allows customized modifications
