%slide
  %hgroup
    %h2
      Framework - Template
  %article
    %p Use new framework items for template
    %p.blue3 The #load helper method injects components
    %br
    %br
    %pre.prettyprint{'data-lang' => 'ruby'}
      :preserve
        SparkleFormation.new(:tester).load(:base).overrides do
          dynamic!(:node, :first)
          # Now reusable
          dynamic!(:node, :second)
        end


%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/compose.png'}
  %hgroup
    %h2
      Template Compilation
  %article
    %p Compilation things
    %ul
      %li Top down compilation
      %li Components loaded first, in order
      %li Overrides applied last
      %li Allows customized modifications
