%slide
  %hgroup
    %h2
      Template Modifications
  %article
    %p Modify generic data
    %br
    %br
    %pre.prettyprint{'data-lang' => 'ruby'}
      :preserve
        SparkleFormation.new(:tester).load(:base).overrides do
          dynamic!(:node, :first) do
            properties.key_name 'my-custom-key'
          end
          dynamic!(:node, :second)
          outputs.delete!(:second_instance_address)
        end
