%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/recycle.png'}
  %hgroup
    %h2 SparkleFormation Reusability Improvements
  %article
    %p What did we gain from this decomposition?
    %ul
      %li Even better readability
      %li Simple to generate template
      %li Best of all we have removed the copy/paste
      %ul
        %li Original JSON template: 164 lines
        %li Final SFN template: 21 lines
    %br
    %p Since it's Ruby, we can generate the expanded example with a few extra lines!
