%slide{:class => 'segue dark quote nobackground'}
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/hourglass.png'}
  %article{:class => 'flexbox vleft auto-fadein'}
    %h3 No one cares about Hashes
