%slide{:class => 'segue dark quote nobackground'}
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/sfn-logo.png'}
  %article{:class => 'flexbox vleft auto-fadein'}
    %q SparkleFormation CLI - sfn
