%slide
  %hgroup
    %h2
      AWS CloudFormation
  %article.smaller
    %p CFN: "Configuration Management & Cloud Orchestration"
    %ul.build
      %li Templates to describe infrastructure
      %li Limited but powerful number of "runtime" functions
      %li Reliably reproducable infrastructure
      %li The most amazing API
      %li The worst interface in the world
