%slide
  %hgroup
    %h2
      Stack Nesting
  %article
    %p Building stacks from stacks
    %ul
      %li Native stack resource type
      %li Stack resources can reference outputs
      %li Logical grouping of resource collections
      %li Allows "unit composition"
      %li Automatic cross stack resource updates
    %div{:style => 'float: right'}
      %img{:src => 'images/nested-meme.jpg', :style => 'width: 60%; height: 40%'}
