%slide
  %hgroup
    %h2
      The SparkleFormation CLI
  %article
    %p Orchestration API interface
    %ul
      %li Integrated with SparkleFormation library
      %li Provides access to stack life cycle actions
      %li Multiple provider API support
