%slide
  %aside{:class => 'gdbar top right', :style => 'background: #cc6'}
    %img{:src => 'images/clock.png'}
  %hgroup
    %h2 Applied SparkleFormation
  %article
    %p Expanded template:
    %ul
      %li New template added 2 lines
      %li JSON template gained 310 lines
  %br
  %br
  %article
    %p New AutoScaling template:
    %br
    %ul
      %li Want the same instance setup
      %li Want options for min/max
