%slide
  %hgroup
    %h2 SFN for Awesome CFN
  %article
    %p Write Ruby, get JSON
    %ul.build
      %li Hey look, Hashes!
      %li SparkleFormation to build templates
      %li sfn tool to leverage SparkleFormation
      %li Includes features that will blow your mind
      %ul
        %li (covered in lighting talk)
      %li.red Is not a serialization format
