%slide
  %hgroup
    %h2 The sfn command
  %article
    %ul
      %li Originated as a knife plugin
      %li Built using the fog library
      %li Refactored to standalone application
      %li Removed fog integration
