%slide
  %hgroup
    %h2 Stack Resource Graphing
  %article
    %p Simple frontend endpoint stack
    %pre.prettyprint{'data-lang' => 'ruby', :style => 'height: 70%'}
      :preserve
        SparkleFormation.new(:endpoint) do
          frontend = dynamic!(:load_balancer, :frontend).properties do
            listeners array!(
              ->{
                instance_port 80
                load_balancer_port 80
                instance_protocol 'HTTP'
                protocol 'HTTP'
              }
            )
          end
          outputs do
            endpoint_arn.value ref!(frontend.resource_name!)
            endpoint_dns.value attr!(frontend.resource_name!, 'DNSName')
          end
        end
