%slide{:class => 'fill nobackground', :style => 'background-image: url(/images/goggles.png); background-repeat: norepeat; background-position: center; background-size: contain; background-color: #aaa;'}
