%slide
  %hgroup
    %h2 Composition of sfn
  %article
    %ul
      %li Bogo libraries
      %ul
        %li Common command interface
        %li Common configuration interface
      %li Miasma libraries
      %ul
        %li Consistent cloud resource models
        %li Provider specific drivers
        %li Light-weight cloud library
