%slide
  %hgroup
    %h2 Endpoint Graph
  %article
    %p Resource dependencies (simple)
    %pre.prettyprint{'data-lang' => 'bash'}
      :preserve
        $ sfn graph --file endpoint --output-type png
    %br
    %br
    %br
    %center
      %img{:src => 'images/endpoint.png'}
