%slide
  %hgroup
    %h2 Stack Resource Graphing
  %article
    %p Worker backend stack
    %pre.prettyprint{'data-lang' => 'ruby', :style => 'height: 70%', 'data-scroll-duration' => 5000}
      :preserve
        SparkleFormtion.new(:workers) do
          parameters.endpoint_arn.type 'String'
          launch = dynamic!(:launch_configuration, :workers).properties do
            image_id 'ami-0000'
            instance_type 't2.micro'
            key_name 'default'
            user_data base64!("#!/bin/sh\necho 'configure stuff'\n")
          end
          dynamic!(:auto_scaling_group, :workers).properties do
            availability_zones azs!
            launch_configuration_name ref!(launch.resource_name!)
            min_size 1
            max_size 3
            load_balancer_names [ref!(:endpoint_arn)]
          end
        end
