%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/navigation.png'}
  %hgroup
    %h2 Link the Code to the Infra
  %article
    %p
      Lets use
      %strike Jenkins
      Jackal!
    %p
      %b Jackal:
      Framework for creating simple services
    %div{:style => 'margin-left: 90px; margin-top: 90px; margin-bottom: 40px;'}
      %q It's a series of tubes.
      .author Ted Stevens
    %p{:style => 'margin-top: 200px; font-size: smaller;'}
      (Why jackal? Come to the workshop and find out!)
