%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/computer.png'}
  %hgroup
    %h2 Configuration of sfn
  %article
    %p The bogo-config library is used to configure the sfn command.
    %p Acceptable formats:
    %ul
      %li Ruby - AttributeStruct style
      %li JSON
      %li YAML
      %li XML
