%slide
  %aside{:class => 'gdbar top right'}
    %img{:src => 'images/upload.png'}
  %hgroup
    %h2 Now I'm Infrastructure as Coding!
  %article
    %p Well, no, not really
    %ul.build
      %li My unicorn requires:
      %ul
        %li Push button
        %li Receive infrastructure
      %li What I have:
      %ul
        %li Configuration as code
        %li Infrastructure as code
        %ul
          %li (but not my unicorn!)
