%slide
  %aside{:class => 'gdbar top right'}
    %img{:src => 'images/upload.png'}
  %hgroup
    %h2 Knife Cloudformation
  %article
    %p CLI application for interacting with CloudFormation

    %p Key Features:
    %ul
      %li Supports all stack operations
      %li Includes SparkleFormation integration (optional)
      %li Deep stack inspection
      %li Alpha support for provider translations
