%slide
  %hgroup
    %h2 Workers Graph
  %article
    %p Resource dependencies (still simple)
    %pre.prettyprint{'data-lang' => 'bash'}
      :preserve
        $ sfn graph --file workers --output-type png
    %br
    %br
    %br
    %center
      %img{:src => 'images/workers.png'}
