%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/taskmanager.png'}
  %hgroup
    %h2 All the Parts
  %article
    %p
      Tools configured:
      %ul.build
        %ul
          %li
            %b Chef
            to code the configuration
          %li
            %b SparkleFormation
            to code the infrastructure
          %li
            %b GitHub
            to store the code
          %li
            %b AWS CFN
            to provide the infrastructure
          %li
            %b Jackal
            to glue GitHub and AWS together
        %li.green Push tag, receive infrastructure
