%slide
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/taskmanager.png'}
  %hgroup
    %h2 The .sfn file
  %article
    %pre.prettyprint{'data-lang' => 'ruby'}
      :preserve
        Configuration.new do
          options do
            capabilities ['CAPABILITY_IAM']
          end
          credentials do
            provider :aws
            credentials do
              MIASMA_API_OPTIONS
            end
          end
        end
