%slide
  %hgroup
    %h2 Link the Code to the Infra
  %article
    %p
      Lets use
      %strike Jenkins
      Jackal!
    %p
      Jackal is a framework for creating simple services. These
      services can be chained together.
    %p
      To steal from someone more powerful than me:
      %ul.build
        %li Like a series of tubes
        %li But makes pipelines
    %p
      Why jackal? Come to the workshop and find out!
