%slide
  %hgroup
    %h2 Composing stacks
  %article
    %p Create application stack
    %ul
      %li Nest endpoint to provide ELB
      %li Nest workers after endpoint
      %li Automatic stack linking
    %br
    %pre.prettyprint{'data-lang' => 'ruby'}
      :preserve
        SparkleFormation.new(:application) do
          nest!(:endpoint)
          nest!(:workers)
        end
