%slide
  %hgroup
    %h2 sfn commands
  %article
    %p Template
    %pre.prettyprint{'data-lang' => ''}
      :preserve
        $ sfn validate
    %p Life cycle
    %pre.prettyprint{'data-lang' => ''}
      :preserve
        $ sfn create
        $ sfn update
        $ sfn destroy
    %p Inspection
    %pre.prettyprint{'data-lang' => ''}
      :preserve
        $ sfn describe
        $ sfn inspect
        $ sfn events
