%slide
  %hgroup
    %h2 Building a stack
  %article
    %center
      %iframe{:scrolling => 'no', :style => 'width: 500px; height: 400px;', :width => '500', :border => '0', :height => '400', :id => 'shelr_frame', :src => 'http://192.168.2.84:9988/embed/c3BveC9wdWJsaWMvMTQxNjkzNTQ3Ni1zaGVsci1yZWNvcmQuanNvbg=='}
