%slide
  %hgroup
    %h2 Building a stack
  %article
    %center
      %iframe{:scrolling => 'no', :style => 'width: 600px; height: 450px;', :width => '600', :border => '0', :height => '450', :id => 'shelr_frame', :src => 'https://7b7d7f3d.ngrok.com/embed/c3BveC9wdWJsaWMvMTQyMDc2NjEzNC1iYXNpYy1jcmVhdGUuanNvbg=='}
