%slide
  %hgroup
    %h2 Building a stack
  %article
    %iframe{:scrolling => 'no', :width => '400', :border => '0', :height => '400', :id => 'shelr_frame', :src => 'http://192.168.2.84:9988/embed/c3BveC9wdWJsaWMvMTQxNjkzNTQ3Ni1zaGVsci1yZWNvcmQuanNvbg=='}