%slide
  %hgroup
    %h2 Building a stack
  %article
    %center
      %iframe{:scrolling => 'no', :style => 'width: 500px; height: 400px;', :width => '500', :border => '0', :height => '400', :id => 'shelr_frame', :src => 'https://7b7d7f3d.ngrok.com/embed/c3BveC9wdWJsaWMvMTQyMDc2NjEzNC1iYXNpYy1jcmVhdGUuanNvbg=='}
