%slide
  %hgroup
    %h2 All the Parts
  %article
    %p
      Tools configured:
      %ul.build
        %ul
          %li Chef to code the configuration
          %li SparkleFormation to code the infrastructure
          %li GitHub to store the code
          %li AWS CFN to provide the infrastructure
          %li Jackal to glue GitHub and AWS together
        %li.green Push tag, receive infrastructure
