%slide
  %hgroup
    %h2 Application Graph
  %article
    %p Resource dependencies (cross stack)
    %pre.prettyprint{'data-lang' => 'bash'}
      :preserve
        $ sfn graph --file application --output-type png
    %br
    %br
    %br
    %center
      %img{:src => 'images/application.png', :style => 'width: 100%;'}
