%slide
  %aside{:class => 'gdbar top right'}
    %img{:src => 'images/magnifying-glass.png'}
  %hgroup
    %h2 K.I.S.S.
  %article
    %p
      Collection of independent tools
      %ul
        %li Disperate tools
        %li Each performing a single job
        %li Linked together for complex task
        %li Easily swappable
        %li Easily reconfigurable

    .inline-quote.centered
      %q
        Simplicity is prerequisite for reliability.
      .author Edsger W. Dijkstra
