%slide
  %aside{:class => 'gdbar top right'}
    %img{:src => 'images/magnifying-glass.png'}
  %hgroup
    %h2 Deep Stack Inspection
  %article
    %p Stack resource inspection and expansion provides detailed and useful views

    %p Key Features:
    %ul
      %li See full resource details provided via CFN
      %li Expandable resources for full inspection (on supported resources)
      %li Chainable resource expansion
      %ul
        %li Provides meaningful answers stack resource questions
