%slide
  %hgroup
    %h3 What instances are attached to my ASG resource?
  %article
    %center
      %iframe{:style => 'height: 400px; width: 500px;', :scrolling => 'no', :width => '500', :border => '0', :height => '400', :id => 'shelr_frame', :src => 'http://192.168.2.84:9988/embed/c3BveC9wdWJsaWMvMTQxNjkzNTQ3Ni1zaGVsci1yZWNvcmQuanNvbg=='}
