%slide
  %aside.gdbar.bottom.right
    %img{:src => 'images/computer.png'}
  %hgroup
    %h2
      Not Really so Magical
  %article
    %p Magic, perhaps, in its simplicity
    %ul
      %li Used existing tools
      %li Provided better interfaces
      %li Redefined existing workflows
      %li Adjusted view for new perspective
