%slide.seque.quote.dark.nobackground
  %article.flexbox.vleft.auto-fadein
    %q
      A Chinese prose writer has observed that the unicorn, because of its own anomaly, will pass unnoticed. Our eyes see what they are accustomed to seeing.
    .author Jorge Luis Borges
