%slide{:class => 'segue dark quote nobackground'}
  %aside{:class => 'gdbar bottom right'}
    %img{:src => 'images/horse.jpg'}
  %article{:class => 'flexbox vleft auto-fadein'}
    %q AWS CloudFormation
    %p The best rodeo, but not the only rodeo
