%slide
  %hgroup
    %h2 Providers with Orchestration
  %article
    %p Public and private clouds
    %ul
      %li Azure - Azure Resource Manager
      %li Eucalyptus - CloudFormation
      %li Google - Cloud Deployment Manager
      %li OpenStack - HEAT (Rackspace)
    %br
    %br
    %br
    %br
    %br
    %br
    %div{:style => 'text-align: right'}
      %q Horrible little snowflakes
