%slide.dark{:style => 'color: white;'}
  %aside{:class => 'gdbar right'}
    %img{:src => '/images/booklet.png'}
  %hgroup
    %h2.white Informations
  %article
    %div{:style => 'margin-top: 90px; margin-left: 40px;'}
      %p
        More Information:
        %ul
          %li SparkleFormation lightning talk
          %li SparkleFormation workshop
          %li Jackal workshop
          %li Accost me in the hallway

      %p
        Tools:
        %ul
          %li
            sfn
            %span{:style => 'font-size: 70%'} http://github.com/sparkleformation/sfn
          %li
            SparkleFormation
            %span{:style => 'font-size: 70%'} http://github.com/sparkleformation/sparkle_formation
          %li
            Jackal
            %span{:style => 'font-size: 70%'} http://github.com/carnivore-rb/jackal
