%slide
  %aside.gdbar.bottom.right
    %img{:src => 'images/star.png'}
  %hgroup
    %h2 APIs following common structure
  %article
    %p
      %b Common structure and typing
      %ul
        %li AWS - CloudFormation
        %li Eucalyptus - CloudFormation
        %li OpenStack - HEAT
        %li Rackspace - HEAT
