%slide.segue.dark.quote.nobackground
  %aside.gdbar.bottom.right
    %img{:src => 'images/share.jpg'}
  %article.flexbox.vleft.auto-fadein
    %q Sharing is caring
    %p SparklePacks and distribution
