%slide
  %aside.gdbar.bottom.right
    %img{:src => 'images/present.png'}
  %hgroup
    %h2 SparkleFormation SparklePacks
  %article
    %p
      %b Means to distribute SparkleFormation code
      %ul
        %li Access to building blocks
        %li Access to templates
        %li Multiple enabled at once
        %li Layering
