%slide
  %hgroup
    %h2 Other Features
  %article
    %p More things in the SparkleFormation wheelhouse
    %ul
      %li Template Linting
      %li Template Diffs
      %li Stack planning (AWS only currently)

    %p AWS Related - jackal-cfn
    %ul
      %li CloudFormation Custom Resources
      %li AmiRegister - Create AMIs
      %li OrchestrationUnit - Execute unit of code
      %li JackalStacks - Build stacks
