%slide{:class => 'fill nobackground', :style => 'background-image: url(images/plans1.png); background-repeat: norepeat; background-position: center; background-size: contain; background-color: #000'}
%slide{:class => 'fill nobackground', :style => 'background-image: url(images/plans2.png); background-repeat: norepeat; background-position: center; background-size: contain; background-color: #000'}
%slide{:class => 'fill nobackground', :style => 'background-image: url(images/plans3.png); background-repeat: norepeat; background-position: center; background-size: contain; background-color: #000'}
